/* здесь используйте глобальные селекторы img, body, html и так далее */
body {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $basic-medium-dark-grey;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.container-form {
  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }
}
