/* здесь используйте глобальные селекторы img, body, html и так далее */
body {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $basic-medium-dark-grey;
  background-color: $basic-white;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}
