/* здесь используйте глобальные переменные */

/* COLORS */
$basic-white: #ffffff;
$basic-grey: #eaeaea;
$basic-soft-grey: #e7e7e7;
$basic-light-grey: #f2f2f2;
$basic-ashen-grey: #d3d3d3;
$basic-medium-grey: #d9d9d9;
$basic-normal-grey: #cdcdcd;
$basic-medium-dark-grey: #444444;
$basic-average-dark-grey: #666666;
$basic-dark-grey: #222222;
$basic-black: #000000;
$basic-medium-black: #111111;
$basic-green: #68b738;
$basic-normal-green: #62a53a;

$basic-medium-green: rgba(104, 183, 56, 0.3);
$basic-soft-green: rgba(94, 170, 47, 0.6);
$basic-light-green: rgba(104, 183, 56, 0.85);

/* VIEWPORTS */
$tablet-width: 768px;
$desktop-width: 1300px;
