.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 767px;

  @media (min-width: $tablet-width) {
    gap: 22px;
  }
}

.header-logo__logo-title-image {
  margin-left: -10px;
}

.header-logo__logo-image,
.header-logo__logo-title-image {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
