.nav__list {
  @include base-list;
}

.nav__item {
  margin: 0;
  padding-top: 22px;
  padding-bottom: 24px;
  text-align: center;
}

.nav__item-link {
  font-family: $title-font;
  font-size: 20px;
  line-height: 20px;
  color: $basic-black;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
