.checkbox {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  border: none;
}

.checkbox__title {
  margin: 0;
  margin-bottom: 34px;
  font-family: $title-font;
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;
}

.checkbox__list {
  @include base-list;
}

.checkbox__item {
  margin-bottom: 19px;

  &:last-child {
    margin-bottom: 0;
  }
}

.checkbox__label {
  font-family: $title-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
