.comment {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  border: none;
}

.comment__label {
  margin: 0;
  font-family: $title-font;
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;
}

.comment__field {
  margin: 0;
  padding: 0;
}

.comment__text {
  min-width: 280px;
  margin-top: 38px;
  font-family: $title-font;
  font-size: 16px;
  text-transform: uppercase;
  white-space: nowrap;
  border: 1px solid $basic-soft-grey;
}
