.comment__label {
  margin: 0;
  font-family: $title-font;
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.comment__field {
  margin: 0;
  padding: 0;
}

.comment__text {
  width: 100%;
  margin-top: 38px;
  font-family: $title-font;
  font-size: 16px;
  text-transform: uppercase;
  white-space: nowrap;
  border: 1px solid $basic-soft-grey;

  @media (min-width: $tablet-width) {
    margin-top: 87px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 78px;
  }
}
