.form-button {
  margin-bottom: 32px;
}

.form-button__send {
  margin-bottom: 21px;
}

.form-button__footnote {
  margin: 0;
  padding: 0;
}

.form-button__footnote .footnote {
  display: block;
  margin: 0;
  line-height: 16px;
  text-align: center;
  color: $basic-black;
}
