.page-form__title {
  margin: 0;
  margin-bottom: 37px;
  font-family: $primary-font;
  font-size: 36px;
  line-height: 36px;
  color: $basic-black;
}

.page-form__description {
  margin: 0;
  margin-bottom: 39px;
  font-family: $primary-font;
  line-height: 18px;
  color: $basic-black;
}
