.radio__list {
  @include base-list;
  display: flex;
  flex-direction: column;
  gap: 13px;

  @media (min-width: $tablet-width) {
    padding: 23px 27px;
    border: 1px solid $basic-soft-grey;
  }

  @media (min-width: $desktop-width) {
    padding: 25px 28px;
  }
}

.radio__label {
  font-family: $title-font;
  font-size: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
