.user-contacts__title {
  margin: 0;
  margin-bottom: 35px;
  font-family: $title-font;
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;
  }
}

.user-contacts__fields-wrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 81px;
  }
}

.user-contacts__field {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 13px;
  margin: 0;
  padding: 0;
}

.user-contacts__label {
  font-family: $title-font;
  font-size: 16px;
  text-transform: uppercase;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.user-contacts__input {
  width: 100%;
  padding: 14px 30px 13px 15px;
  font-family: $title-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid $basic-soft-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.user-contacts__icon-email::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 15px;
  width: 18px;
  height: 15px;
  transform: translate(-50%, -50%);
  background-color: $basic-black;
  mask-image: url("../../icons/stack.svg#icon-email");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 18px 15px;
}

.user-contacts__icon-phone::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 15px;
  width: 16px;
  height: 16px;
  transform: translate(-50%, -50%);
  background-color: $basic-black;
  mask-image: url("../../icons/stack.svg#icon-phone");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 16px 16px;
}
