.user .container {
  @media (max-width: $mobile-width-only) {
    padding: 0 20px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.user__field {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 13px;
  margin: 0;
  margin-bottom: 14px;
  padding: 0;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
  }
}

.user__label {
  font-family: $title-font;
  font-size: 16px;
  text-transform: uppercase;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.user__input {
  width: 100%;
  padding: 14px 15px 13px;
  font-family: $title-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid $basic-soft-grey;
  cursor: pointer;

  &:hover {
    border-color: $basic-normal-grey;
  }

  &[id="name"]:invalid:not(:placeholder-shown),
  &[id="weight"]:invalid:not(:placeholder-shown) {
    border-color: $basic-red;
  }

  @media (min-width: $tablet-width) {
    padding: 11px 20px;
    font-size: 20px;
    line-height: 30px;
  }
}
