.user-contacts {
  margin: 0;
  margin-top: 45px;
  margin-bottom: 24px;
  padding: 0;
  border: none;
}

.user-contacts__title {
  margin: 0;
  margin-bottom: 35px;
  font-family: $title-font;
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;
}

.user-contacts__field {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 13px;
  margin: 0;
  margin-bottom: 14px;
  padding: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.user-contacts__label {
  font-family: $title-font;
  font-size: 16px;
  text-transform: uppercase;
  white-space: nowrap;
}

.user-contacts__input {
  width: 100%;
  padding: 14px 30px 13px 15px;
  font-family: $title-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.user-contacts__icon-email::after {
  position: absolute;
  content: "";
  top: 15px;
  right: 15px;
  width: 18px;
  height: 15px;
  background-image: url("../../icons/stack.svg#icon-email");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 15px;
}

.user-contacts__icon-phone::after {
  position: absolute;
  content: "";
  top: 15px;
  right: 15px;
  width: 16px;
  height: 16px;
  background-image: url("../../icons/stack.svg#icon-phone");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}
