.user-contacts__title {
  position: relative;
  max-width: 207px;
  margin: 0;
  margin-bottom: 35px;
  padding-right: 20px;
  font-family: $title-font;
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    max-width: 590px;
    margin-left: -40px;
    margin-bottom: 76px;
    padding-left: 40px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 75px;
  }
}

.user-contacts__fields-wrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: 11px;

  @media (min-width: $tablet-width) {
    gap: 18px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 81px;
  }
}

.user-contacts__field {
  margin: 0;
  padding: 0;
}

.user-contacts__label {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 13px;
  font-family: $title-font;
  font-size: 16px;
  text-transform: uppercase;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.user-contacts__label-text {
  display: inline-block;
}

.user-contacts__input {
  width: 100%;
  padding: 14px 40px 13px 15px;
  font-family: $title-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid $basic-soft-grey;
  cursor: pointer;

  &:hover {
    border-color: $basic-normal-grey;
  }

  &[id="email"]:invalid:not(:placeholder-shown),
  &[id="phone"]:invalid:not(:placeholder-shown) {
    border-color: $basic-red;
  }

  @media (min-width: $tablet-width) {
    padding: 11px 40px 11px 20px;
    font-size: 20px;
    line-height: 30px;
  }
}

.user-contacts__icon-email {
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 4px;
    width: 18px;
    height: 15px;
    transform: translate(-50%, -50%);
    background-color: $basic-black;
    mask-image: url("../../icons/stack.svg#icon-email");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 18px 15px;
    cursor: pointer;
  }
}

.user-contacts__input:focus + .user-contacts__icon-email::after {
  background-color: $basic-green;
}

.user-contacts__input[id="email"]:invalid:not(:placeholder-shown) + .user-contacts__icon-email::after {
  background-color: $basic-red;
}

.user-contacts__icon-phone {
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 6px;
    width: 16px;
    height: 16px;
    transform: translate(-50%, -50%);
    background-color: $basic-black;
    mask-image: url("../../icons/stack.svg#icon-phone");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 16px 16px;
    cursor: pointer;
  }

  &:focus::after {
    background-color: $basic-green;
  }
}
