.hero {
  position: relative;

  @media (min-width: $desktop-width) {
    min-height: 647px;
    width: 100%;
  }
}

.hero__bg-wrap {
  margin-bottom: 20px;
  background-image: url("../../../images/hero-background-mobile@1x.jpg"), linear-gradient(to bottom, $basic-normal-green 302px, $basic-white 100%);
  background-repeat: no-repeat;
  background-size:
    320px 301px,
    100% 302px;
  background-position: top center;

  @media (min-resolution: 2dppx) {
    background-image: url("../../../images/hero-background-mobile@2x.jpg"), linear-gradient(to bottom, $basic-normal-green 302px, $basic-white 100%);
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
    background-color: $basic-white;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 100%;
    top: -129px;
    left: 0;
    margin-bottom: 0;
    background-color: $basic-white;
    background-image: url("../../../images/hero-background-desktop@1x.jpg"), linear-gradient(90deg, $basic-white 51%, $basic-normal-green 50%);
    background-repeat: no-repeat;
    background-size:
      720px 694px,
      100% 694px;
    background-position: top right;

    @media (min-resolution: 2dppx) {
      background-image: url("../../../images/hero-background-desktop@2x.webp"), linear-gradient(90deg, $basic-white 51%, $basic-normal-green 50%);
    }
  }
}

.hero__wrap {
  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    min-height: 810px;
  }

  @media (min-width: $desktop-width) {
    min-height: 777px;
  }
}

.hero__title {
  margin: 0 auto;
  margin-bottom: 25px;
  padding-top: 27px;
  font-family: $title-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $basic-white;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
    margin-left: 90px;
    padding-top: 49px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $basic-black;
  }

  @media (min-width: $desktop-width) {
    margin-top: 175px;
    margin-bottom: 40px;
    margin-left: 79px;
  }
}

.hero__text {
  margin: 0 auto;
  margin-bottom: 31px;
  padding: 0;
  font-family: $title-font;
  line-height: 14px;
  color: $basic-white;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-left: 90px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $basic-black;
  }

  @media (min-width: $desktop-width) {
    margin-left: 79px;
  }
}

.hero__image {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: -49px;
  }

  @media (min-width: $desktop-width) {
    top: 143px;
    left: 446px;
  }
}

.hero__button {
  @media (min-width: $tablet-width) {
    position: relative;
    width: 244px;
    margin-top: 21px;
    margin-left: 90px;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}
