.products-cards {
  margin: 0;
}

.products-cards__slim,
.products-cards__pro {
  background-color: $basic-light-grey;
}

.products-cards__title {
  font-family: $title-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: $basic-black;
  text-transform: uppercase;
}

.products-cards__link {
  font-family: $title-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $basic-black;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

/*


  &:hover::after {
    width: 32px;
    height: 10px;
    top: 7px;
    right: -36px;
    background-size: 32px 10px;
  }

  &:active::after {
    width: 32px;
    height: 10px;
    top: 7px;
    right: -36px;
    background-size: 32px 10px;
    fill: #b3b3b3;
  }
}
 */
