.programs__products-wrap {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.programs__products-list {
  @include base-list;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  grid-gap: 20px;

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 570px);
    gap: 80px;
  }
}
