.button-primary {
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  font-family: $title-font;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
  background-color: $basic-green;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
