.additional-products {
  margin-bottom: 40px;
}

.additional-products__title {
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  font-family: $title-font;
  font-size: 24px;
  line-height: 24px;
  color: $basic-black;
}

.additional-products__list {
  @include base-list;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 19px;
  margin-bottom: 35px;
}
