.additional-product-card__title {
  margin: 0;
  padding: 0;
  font-family: $title-font;
  font-size: 16px;
  line-height: 16px;
  color: $basic-dark-grey;
}

.additional-product-card__value,
.additional-product-card__price {
  line-height: 14px;
}

.additional-product-card__button {
  width: 100%;
  padding: 10px 20px;
}
