.product-card__wrap {
  margin-top: 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 37px 40px;
    background-image: linear-gradient($basic-white 80px, $basic-light-grey 80px);
  }
}

.product-card__content-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    margin-bottom: 32px;
  }
}

.product-card__image-wrap {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 210px;
    margin-bottom: 22px;
  }
}

.product-card__content-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    gap: 10px;
  }
}

.product-card__content-text-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__description-wrap {
  min-width: 140px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.product-card__title-link {
  text-decoration: none;
}

.product-card__title {
  margin: 0;
  margin-bottom: 14px;
  max-width: 76px;

  @media (min-width: $tablet-width) {
    max-width: 135px;
    margin-bottom: 21px;
  }
}

.product-card__content {
  @media (min-width: $tablet-width) {
    min-width: 250px;
  }

  @media (min-width: $desktop-width) {
    min-width: 169px;
  }
}

.product-card__title,
.product-card__more-title {
  font-family: $title-font;
  font-size: 16px;
  line-height: 20px;
  color: $basic-dark-grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.product-card__content-name,
.product-card__content-value,
.product-card__more-text {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.product-card__more-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 82px;
    margin-bottom: 0;
    padding: 0 35px 40px;
    border: 2px solid #f2f2f2;
  }
}

.product-card__image {
  &::before {
    display: block;
    content: "";
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-bottom: 23px;
    background-image: url("../../icons/stack.svg#icon-plus");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 30px 30px;

    @media (min-width: $tablet-width) {
      width: 60px;
      height: 60px;
      margin-top: 50px;
      margin-bottom: 50px;
      background-size: 60px 60px;
    }
  }
}

.product-card__more-title {
  margin: 0;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    max-width: 170px;
    margin-bottom: 23px;
    text-align: center;
  }
}

.product-card__more-text {
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    max-width: 170px;
    margin-bottom: 67px;
    text-align: center;
  }
}

.product-card__button-more {
  color: $basic-medium-dark-grey;
  background-color: $basic-light-grey;
}
